body {
  background-color: #FFF5EE;
  background-image: url("images/Most-Beautiful-Flowers.jpg");
  background-repeat: no-repeat;
  background-position: right;
  margin-right: 500px;
}

.welcome {
  margin: 10px 400px;
}

.creations {
    font-family: cursive;
}

.table-wrapper {
  position: relative;
  border: 3px solid #7D0552;
  padding: 10px;
  width: 425px;
}
#horizon {
  font-family: fantasy;
}

#row1{
  font-family: "Lucida Console", Courier, monospace;
}

#row2{
  font-family: "Lucida Console", Courier, monospace;
}

#row3{
  font-family: "Lucida Console", Courier, monospace;
}

a:link {
  color: #52D017;
}
a:visited {
  color: green;
}
a:hover {
  color: hotpink;
}
a:active {
  color: red;
}

@media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
}
