body {
  background-color: white;
}

.welcome {
  margin: 10px 400px;
  background-image: url("https://www.google.com/search?q=welcome+to+my+garden+vinyl+wall+picture&espv=2&tbm=isch&imgil=vmMS2sYO4DiLjM%253A%253BWomrnqW_ASpUgM%253Bhttp%25253A%25252F%25252Fwww.enchantingquotes.com%25252Fwetomyga.html&source=iu&pf=m&fir=vmMS2sYO4DiLjM%253A%252CWomrnqW_ASpUgM%252C_&usg=__DL2689NG0oOx9QUKe6yV7Q6lNiE%3D&biw=968&bih=658&dpr=2&ved=0ahUKEwjH0Inb26LNAhVjGlIKHaMPCFMQyjcIMQ&ei=AXRdV4fMOOO0yAKjn6CYBQ#imgrc=vmMS2sYO4DiLjM%3A");
  background-color: #E77471;
}

.table-wrapper {
  position: relative;
  border: 3px solid green;
  padding: 10px;
  width: 325px;
}
